.DS_Store
.idea/
.vscode/
.cxx/
*.iml
*.log
*.hprof
*.jks
*.keystore
.gradle/
/app/build/
/build/
/local.properties
/stderr.log
/captures/
/*.apk
/*.png
/branding/variant-*.png
/secrets/*.txt
/secrets/*.jks
/secrets/*.keystore
/secrets/*.base64
/secrets/.env
